body {
  background-color: #dbf6e9;

}

hr { border-style: none;
     border-top-style: dotted;
     border-color: #394867;
     border-width: 4px;
     width: 7%;

}

h1 { color: #070d59;

}
h3 { color: #070d59

}
h2 { color: #070d59}
